
$orange: #EB7118;
$darkgray: #3B3738;
$mediumgray: rgb(100, 96, 97);
$tan: #FDF3E7;
$mainFont: helvetica;
$h1size: 75px;
$h2size: 60px;
$h3size: 45px;
$psize: 25px;
$minisize: 20px;

// body {
//     padding: 0;
//     margin: 0;
// }

h1 {
    font-family: $mainFont;
    size: $h1size;
    font-weight: bold;
}

// #todaysCurrentTemp {
//     font-size: 8em;
//     font-weight: 600;
//     margin: -50% 0 0 47%;
//     position: relative;
//     right: 34px;
//     top: 91px;
// }

#greeting p {
    font-size: 2em;
    margin: 0em 0 0 0;
    font-weight: bold;
    color: #3B3737;
}

// WEATHER ICONS

#rainIcon {
    position: relative;
    top: 56px;
    right: -38px;
    width: 8em;
}

#sunIcon {
    width: 9em;
    position: absolute;
    top: 95px;
    right: 240px;
}

#cloudIcon {
    width: 10em;
    position: relative;
    top: 25px;
    right: -22px;
}

#snowIcon {
    width: 9em;
    position: relative;
    top: 42px;
    right: -22px;
}

h2 {
    font-family: $mainFont;
    size: $h2size;
    color: $orange;    
    font-weight: bold;
    
}

h3 {
    font-family: $mainFont;
    size: $h3size;
    font-weight: bold;
}

p {
    font-family: $mainFont;
    size: $psize;
}

li {
    list-style-type: none;
}

a {
    color: $orange;
    text-decoration: none;
}

a:active {
    color: $orange;
    
}
a:hover {
    color: $orange;
}

button {
    display: inline-block;
    color: $orange;
    border: 1px solid $orange;
}

button:hover {
    text-decoration: underline;
}

body {
    display: flex;
    display: -webkit-flex;
}

.column {
    position: fixed;
}

#weather {
    width: 40vw;
    height: 45vh;
    background-color: $orange;
    color: $tan;
    font-family: helvetica;
}

nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 40vw;
    height: 45vh;
    #news,
    #books {
        background-color: $darkgray;
        height: 12.5vh;
        width: 40vw;
    }
    #meetups,
    #favz {
        background-color: $mediumgray;
        height: 12.5vh;
        width: 40vw;
    }
    a {
        font-family: $mainFont;
        font-size: $h3size;
        color: $tan;
        text-decoration: none;
    }
}

<<<<<<< HEAD
#weather {
    width: 40vw;
    height: 45vh;
    background-color: $orange;
    color: $tan;
    font-family: helvetica;
}

#dayIndo {
    border: solid black 1px;
}

=======
>>>>>>> master
#todaysCurrentTemp {
    font-size: 8em;
    font-weight: 600;
    margin: -50% 0 0 47%;
    position: absolute;
    right: 27px;
    top: 312px;
    // border: solid;
}

#todaysDate {
    position: relative;
    top: 91px;
    font-size: 1.1em;
    margin: -6% 0 5% 49%;
    right: 11px;
}

#todaysWeather {
    position: absolute;
    top: 215px;
    right: 254px;
}

#main {
    width: 40vw;
    margin: 0;
    border: 1px solid hotpink;   
}

.apis {
    width: 40vw;
    height: 10vh;
    background-color: $darkgray;
    text-align: center;
    justify-content: space-between;

    a {
        font-family: $mainFont;
        font-size: $minisize;
        color: $tan;
        text-decoration: none;
    }
}

#print {
    position: absolute;
    left: 42vw;
}

#search {
    width: 250px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

