
body {
    display: flex;
    display: -webkit-flex;
}

nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 50vw;
    height: 45vh;
    border: 1px solid hotpink;
}

#weather {
    width: 50vw;
    height: 45vh;
    border: 1px solid hotpink;
}

#main {
    width: 50vw;
    margin: 0;
    border: 1px solid hotpink;   
}

.apis {
    width: 50vw;
    height: 10vh;
}