
body {
    display: flex;
    display: -webkit-flex
}

nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

#weather {
    border: 1px solid red;
}

#nav {
    border: 1px solid red;    
}

#main {
    border: 1px solid red;
    
}